a {
  color: black;
  margin: 10px 1%;
}

.user {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  margin: 10px 1%;
}

.user > div {
  border: 2px solid black;
}

.user .picture {
  flex-basis: 20%;
  max-width: 150px;
  max-height: 150px;
}

.user .detail {
  min-width: 75%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user .post-count {
  align-self: end;
  margin: 2px;
}

#user-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#user-detail #posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#user-detail #bio,
#user-detail .post {
  border: 2px solid black;
  padding: 10px;
}

#user-detail button {
  align-self: center;
}

.like-comment {
  text-align: right;
}
